<!DOCTYPE html>
<html>
<head>
    <title>Success</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>

<div class="container success-box">

    <h2>✅ Registration Successful</h2>

    <p class="success-text">
        Your behaviour data has been securely captured and stored.
    </p>

    <a href="/register/" class="btn-link">Register Another User</a>

</div>

</body>
</html>